.topSection {

    width: 100%;
    height: 125vh;
    background: #81DAD0;
    border-bottom-left-radius: 50% 20%; /* Ajuste o segundo valor conforme necessário */
    border-bottom-right-radius: 50% 20%; /* Ajuste o segundo valor conforme necessário */

}

.topSection1 {

    width: 100%;
    height: 100vh;
    background: black;

}

.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin-top: 30px;

    color: #FFFFFF;

}

.wrap-container-top {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.title-container-top {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;

    color: #FFFFFF;


}

.highlight-container-top {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;

    color: #F5DE14;


}

.text-container-top {

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;


    color: #FFFFFF;


}